html {
    scroll-behavior: smooth;
}
.container-center {
    margin: 20px auto;
    width: 1200px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}



header {
    display: block;
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
}
header h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
    color:rgba(55, 11, 97, 0.925);
}
header h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}
header img {
    width: 283px;
    height: 340px;
    margin-bottom: 10px;
    border: 14px solid rgba(111, 104, 119, 0.582);
    border-radius: 50%;
    
}
.container-two {
    display: flex;
    flex-direction: row;
    
}

.left-side {
    background: rgba(82, 73, 78, 0.034);
    color:rgb(25, 56, 37);
    padding: 30px 20px;
  
  
}
.contact li {
   padding-top: 25px;
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.contact img{
    width: 50px;
    border-radius: 50%;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: rgba(44, 95, 189, 0.842);
}

.skills-it {
    list-style: square;
    font-size: 14px;
}

/*rigth-side*/
.right-side {
    background-color: rgba(138, 114, 114, 0.247);
    
}

.information {
 display: flex;
 flex-direction: column;
 margin-left: 20px;
 padding: 20px 40px;
 text-align: justify;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(12, 27, 12, 0.877);
    border-bottom: 2px solid grey;
    color: rgba(76, 33, 105, 0.822);

}

.goal{
    font-style:italic;
    font-size: 20px;
    font-family: cursive;
}
.international li {
    list-style-type: none;
}
.languages img{
    width: 30px;
    border-radius: 50%;
  
}   

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #ffffff;
   
}
.main-link{
    color: black;
    font-size: 15px;
    margin-left: 60px;
}

.github-icon{
    width: 167px;
    height: 76px ;
}
#rsschool {
 width: 130px;
 height: 50px;
}